# Task 1: DataFrame Basics

Consider the following Python dictionary data and Python list labels:

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'], 'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3], 'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}, labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'].

    a.	Create a DataFrame df from this dictionary data which has the index labels.
    b.	Display a summary of the basic information about this DataFrame and its data.
    c.	Return the first 3 rows of the DataFrame df.
    d.	Select just the 'animal' and 'age' columns from the DataFrame df.
    e.	Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].
    f.	Select only the rows where the number of visits is greater than 3.
    g.	Select the rows where the age is missing, i.e. is NaN.
    h.	Select the rows where the animal is a cat and the age is less than 3.
    i.	Select the rows the age is between 2 and 4 (inclusive).
    j.	Change the age in row 'f' to 1.5.
    k.	Calculate the sum of all visits (the total number of visits).
    l.	Calculate the mean age for each different animal in df.
    m.	Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame.
    n.	Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order.
    o.	The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.
    p.	In the 'animal' column, change the 'snake' entries to 'python'.

In [2]:
import pandas as pd
import numpy as np

In [3]:
# a.    Create a DataFrame df from this dictionary data which has the index labels.
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

In [4]:
# b. Display a summary of the basic information about this DataFrame and its data.
print "DataFrame Summary:"
print df.describe()

DataFrame Summary:
            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [5]:
# c. Return the first 3 rows of the DataFrame df.
print "First 3 rows of the DataFrame:"
print df.iloc[:3]

First 3 rows of the DataFrame:
   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

In [6]:
# d. Select just the 'animal' and 'age' columns from the DataFrame df.
print "'Animal' and 'age' columns:"
print df[['animal', 'age']]

'Animal' and 'age' columns:
  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [7]:
# e. Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].
print "Data in rows [3, 4, 8] and in columns ['animal', 'age']:"
print df.ix[[3, 4, 8], ['animal', 'age']]

Data in rows [3, 4, 8] and in columns ['animal', 'age']:
  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

C:\Users\Asus\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
# f. Select only the rows where the number of visits is greater than 3.
print "The rows where the number of visits is greater than 3:"
print df[df['visits'] > 3]

The rows where the number of visits is greater than 3:
Empty DataFrame
Columns: [age, animal, priority, visits]
Index: []

In [9]:
# g. Select the rows where the age is missing, i.e. is NaN.
print "Rows where the age is missing:"
print df[pd.isnull(df['age'])]

Rows where the age is missing:
   age animal priority  visits
d  NaN    dog      yes       3
h  NaN    cat      yes       1

In [10]:
# h. Select the rows where the animal is a cat and the age is less than 3.
print "Rows where the animal is a cat and the age is less than 3:"
print df[(df['animal'] == 'cat') & (df['age'] < 3)]

Rows where the animal is a cat and the age is less than 3:
   age animal priority  visits
a  2.5    cat      yes       1
f  2.0    cat       no       3

In [11]:
# i. Select the rows the age is between 2 and 4 (inclusive).
print "Rows where the age is between 2 and 4 (inclusive):"
print df[df['age'].between(2, 4)]

Rows where the age is between 2 and 4 (inclusive):
   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
f  2.0    cat       no       3
j  3.0    dog       no       1

In [12]:
# j. Change the age in row 'f' to 1.5.
df.loc['f', 'age'] = 1.5
print "Updated DataFrame:"
print df

Updated DataFrame:
   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

In [41]:
# k. Calculate the sum of all visits (the total number of visits).
print "The total number of visits = {}.".format(np.sum(df['visits']))

The total number of visits = 19.

In [42]:
# l. Calculate the mean age for each different animal in df.
print "The mean age for each different animal:"
print df.groupby(['animal'])['age'].mean()

The mean age for each different animal:
animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

In [43]:
# m. Append a new row 'k' to df with your choice of values for each column.
# Then delete that row to return the original DataFrame.
df = df.append(pd.DataFrame({'age': 1, 'animal': 'cat', 'priority': 'yes', 'visits': 3}, index=['k']))
print "DataFrame with added row:"
print df
df = df.drop('k', axis=0)
print "DataFrame with deleted row:"
print df

DataFrame with added row:
   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1
k  1.0    cat      yes       3
DataFrame with deleted row:
   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

In [44]:
# n. Sort df first by the values in the 'age' in decending order,
# then by the value in the 'visit' column in ascending order.
df = df.sort_values(['age', 'visits'], ascending=[False, True])
print "Sorted DataFrame:"
print df

Sorted DataFrame:
   age animal priority  visits
i  7.0    dog       no       2
e  5.0    dog       no       2
g  4.5  snake       no       1
j  3.0    dog       no       1
b  3.0    cat      yes       3
a  2.5    cat      yes       1
f  1.5    cat       no       3
c  0.5  snake       no       2
h  NaN    cat      yes       1
d  NaN    dog      yes       3

In [45]:
# o. The 'priority' column contains the values 'yes' and 'no'. 
# Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.
df['priority'] = df['priority'].map({'yes': True, 'no': False})
print "Updated DataFrame:"
print df

Updated DataFrame:
   age animal priority  visits
i  7.0    dog    False       2
e  5.0    dog    False       2
g  4.5  snake    False       1
j  3.0    dog    False       1
b  3.0    cat     True       3
a  2.5    cat     True       1
f  1.5    cat    False       3
c  0.5  snake    False       2
h  NaN    cat     True       1
d  NaN    dog     True       3

In [46]:
# p. In the 'animal' column, change the 'snake' entries to 'python'.
df['animal'] = df['animal'].replace('snake', 'python')
print "Updated DataFrame:"
print df

Updated DataFrame:
   age  animal priority  visits
i  7.0     dog    False       2
e  5.0     dog    False       2
g  4.5  python    False       1
j  3.0     dog    False       1
b  3.0     cat     True       3
a  2.5     cat     True       1
f  1.5     cat    False       3
c  0.5  python    False       2
h  NaN     cat     True       1
d  NaN     dog     True       3